<nav class="fogon-navbar">    
    <div class="fogon-brand">
        <img src="/assets/Fogoneados-navbar.png" alt="Fogoneados Logo" class="fogon-logo">
        <h1 class="fogon-title-text">
        <span class="text-bold">Fogon</span><span class="text-light">eados</span><span class="text-accent">.</span>
        </h1>
    </div>
    
    <ul class="fogon-nav-links">
        <li><a routerLink="/publicaciones" routerLinkActive="active-link" class="fogon-link">Publicaciones</a></li>
        
        @if (usuarioActual) {
            <li><a routerLink="/mi-perfil" routerLinkActive="active-link" class="fogon-link">Mi Perfil</a></li>
            <li><a (click)="cerrarSesion()" class="fogon-link" style="cursor: pointer;">Cerrar Sesión</a></li>
        } @else {
            <li><a routerLink="/registro" routerLinkActive="active-link" class="fogon-link">Registro</a></li>
            <li><a routerLink="/login" routerLinkActive="active-link" class="fogon-link">Login</a></li>
        }
    </ul>
</nav>