<nav class="fogon-navbar">
    <div class="fogon-brand">
        <img src="frontend\assets\Fogoneados navbar.png" alt="Fogoneados Logo" class="fogon-logo">
        <h1 class="fogon-title-text">Red social</h1>
    </div>
    
    <ul class="fogon-nav-links">
        <li><a routerLink="/registro" routerLinkActive="fogon-active" class="fogon-link">Registro</a></li>
        <li><a routerLink="/login" routerLinkActive="fogon-active" class="fogon-link">Login</a></li>
        <li><a routerLink="/publicaciones" routerLinkActive="fogon-active" class="fogon-link">Publicaciones</a></li>
        <li><a routerLink="/mi-perfil" routerLinkActive="fogon-active" class="fogon-link">Mi Perfil</a></li>
    </ul>
</nav>