<div class="elegant-post-card">
    <div class="post-header">
        <div class="user-info area-interactiva" (click)="abrirDetalle()">
      
        @if (post.user?.imagenPerfil) {
            <img [src]="post.user.imagenPerfil" alt="Avatar" style="width: 42px; height: 42px; border-radius: 50%; object-fit: cover; border: 2px solid #00B4D8;">
        } @else {
            <div class="default-avatar">
            {{ post.user?.nombreUsuario ? post.user.nombreUsuario.charAt(0).toUpperCase() : '?' }}
            </div>
        }

        <div class="user-text">
            <h3 class="neon-text">{{ post.user?.nombreUsuario ? (post.user.nombreUsuario | arroba) : 'Usuario Desconocido' }}</h3>
            <span class="post-date">{{ post.createdAt | tiempoRelativo }}</span>
        </div>
        </div>

        @if (
            usuarioActual &&
            (
                usuarioActual._id === post.user?._id ||
                usuarioActual.perfil === 'administrador'
            )
        ) {
            <button (click)="abrirConfirmacion()" class="btn-delete-post">
                {{ usuarioActual._id === post.user?._id ? 'Borrar' : 'Eliminar publicación' }}
            </button>
        }
    </div>

    <div class="post-body area-interactiva" (click)="abrirDetalle()">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-desc">{{ post.description | truncarTexto:150 }}</p>
        
        @if (post.imageUrl) {
        <div class="image-wrapper">
            <img [src]="post.imageUrl" alt="Imagen adjunta">
        </div>
        }
    </div>

    <div class="post-footer">
        <button (click)="toggleLike()" [ngClass]="{'liked': leDiLike}" class="btn-like">
        {{ leDiLike ? '🔥 Fogoneado' : '🤍 Fogonear' }} ({{ post.likesCount || 0 }})
        </button>

        <button (click)="abrirDetalle()" class="btn-comment" style="margin-left: 10px; background: transparent; color: #00B4D8; border: 1px solid #00B4D8; padding: 5px 10px; border-radius: 4px; cursor: pointer;">
            💬 Comentarios
        </button>
    </div>

    @if (mostrarDetalle) {
        <app-post-detalle 
            [post]="post" 
            (cerrarModal)="cerrarDetalle()">
        </app-post-detalle>
    }

    @if (mostrarModalConfirm) {
        <div class="fogon-modal-overlay">
            <div class="fogon-modal-card pop-in">
                <h3 class="modal-title">Confirmar</h3>
                <p class="modal-text">¿Estás seguro de que querés eliminar este post?</p>
                
                <div class="modal-actions">
                    
                    <button (click)="mostrarModalConfirm = false" class="btn-cancel">
                        <span>Cancelar</span>
                    </button>
                    
                    <button (click)="eliminarPost()" class="btn-eliminar">
                        <span>Eliminar</span>
                    </button>
                    
                </div>
            </div>
        </div>
    }
</div>